<section id="about" class="about section">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>Qui sommes-nous ?</h3>
          <h2>Fournir des templates Bootstrap modernes, responsifs et gratuits pour tous vos projets web.</h2>
          <p>
            Notre mission est de rendre le développement web accessible à tous grâce à une collection de templates conçus avec soin. 
            Chacun de nos designs est optimisé pour la performance, la compatibilité et l'esthétisme, vous permettant de créer des sites professionnels rapidement et efficacement.
          </p>
          <div class="text-center text-lg-start">
            <a href="#template-gallery" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>En savoir plus</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
      </div>

    </div>
  </div>
</section>