<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img src="assets/brand/bootstrap-logo.svg" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
    </a>
    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Basculer la navigation">
    <span class="navbar-toggler-icon"></span>
</button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i> Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#template-gallery"><i class="bi bi-download"></i> Téléchargements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#templateModal"><i class="bi bi-image"></i> Aperçus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer"><i class="bi bi-envelope"></i> Contact</a>
        </li>
      </ul>
      <form class="search-form d-none d-flex">
        <input class="form-control me-2 rounded-pill" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-primary rounded-pill" type="submit">Rechercher</button>
      </form>
      <button class="search-toggle btn btn-light" aria-label="Afficher ou masquer la recherche"><i class="bi bi-search"></i></button>
    </div>
  </div>
</nav>    
    
    
    
    
    
    
    
    
    <!-- Header -->
    <header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Explorez et Téléchargez des Templates Bootstrap Gratuits</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Découvrez une collection de templates modernes, responsives et adaptés à tous vos projets web. Gratuitement.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#template-gallery">Voir les templates</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#learn-more">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="assets/images/header-illustration.png" alt="Illustration des templates Bootstrap" />
            </div>
        </div>
    </div>
</header>