<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img src="assets/brand/bootstrap-logo.svg" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
    </a>
    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Basculer la navigation">
    <span class="navbar-toggler-icon"></span>
</button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i> Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#template-gallery"><i class="bi bi-download"></i> Téléchargements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#templateModal"><i class="bi bi-image"></i> Aperçus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer"><i class="bi bi-envelope"></i> Contact</a>
        </li>
      </ul>
      <form class="search-form d-none d-flex">
        <input class="form-control me-2 rounded-pill" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-primary rounded-pill" type="submit">Rechercher</button>
      </form>
      <button class="search-toggle btn btn-light" aria-label="Afficher ou masquer la recherche"><i class="bi bi-search"></i></button>
    </div>
  </div>
</nav>    
    
    
    
    
    
    
    
    
    <!-- Header -->
    <header class="bg-primary text-white text-center py-5" style="background-image: url('assets/images/header-bg.jpg'); background-size: cover; background-position: center;">
    <h1 class="display-4 fw-bold">Téléchargez Gratuitement les Meilleurs Templates Bootstrap</h1>
    <p class="lead">Découvrez et téléchargez nos templates Bootstrap gratuits</p>
    <a href="#template-gallery" class="btn btn-lg btn-light text-primary mt-3">Voir les templates</a>
</header>